[defaults]
inventory = inventories/inventory.ini
roles_path = roles
host_key_checking = True

# Configure localmente a senha do Vault
# (não versione o arquivo ansible.cfg real no Git!)
# vault_password_file = /caminho/absoluto/para/seu/vault_pass.sh
